.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(20, 18, 18, 0.979);
  padding: 1rem 2rem;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  .header-left {
    display: flex;
    align-items: center;

    .logo img {
      height: 50px;
      margin-right: 20px;
    }

    .search-bar {
      flex-grow: 1;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;

    .ant-btn-link {
      color: #ffffff;
      &:hover {
        color: #40a9ff;
      }
    }

    .ant-avatar {
      margin-right: 8px;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;

    .nav-button {
      color: #ffffff;
      font-size: 16px;

      &:hover {
        color: #40a9ff;
      }
    }

    .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.9);
      color: #333;
      padding: 10px;

      a {
        color: #333;
        padding: 5px 0;
        display: block;
        &:hover {
          color: #40a9ff;
        }
      }
    }
  }
}
