.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;  
  padding: 1rem 2rem;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  .header-left {
    display: flex;
    align-items: center;
    margin-right: 50px;

    .logo img {
      height: 66px;
      margin-left: 50px;
      margin-right: 30px;
    }

    .nameLogo {
      font-family: 'JetBrains Mono', monospace;
      font-size: 18px; /* Cỡ chữ lớn hơn để giống biển hiệu */
      font-weight: bold;
      color: #FF5722; /* Đỏ cam ánh vàng */
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Bóng đổ để làm nổi bật chữ */
      padding: 12px 30px; /* Padding rộng hơn cho logo lớn */
      border: 3px solid #FF4500; /* Viền đỏ cam */
      border-radius: 12px; /* Góc bo tròn nhẹ */
      background-color: #fff8e1; /* Nền vàng nhạt */
      display: inline-block;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Bóng đổ tổng thể để nổi bật logo */
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng hover */
    }
    
    .nameLogo:hover {
      transform: scale(1.1); /* Phóng to khi hover */
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); /* Tăng độ bóng đổ khi hover */
    }


  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;

    .ant-btn-link {
      color: #ffffff;
      &:hover {
        color: #40a9ff;
      }
    }

    .ant-avatar {
      margin-right: 8px;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 20px;

    .nav-button {
      color: #ffffff;
      font-size: 16px;

      &:hover {
        color: #40a9ff;
      }
    }

    .dropdown-menu {
      background-color: rgba(255, 255, 255, 0.9);
      color: #333;
      padding: 10px;

      a {
        color: #333;
        padding: 5px 0;
        display: block;
        &:hover {
          color: #40a9ff;
        }
      }
    }
  }
}
