#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
/*

.header {
  background-color: #007bff;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #0056b3;
  color: white;
}


.tra-cuu-content,
.dich-vu-content {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.tra-cuu-content nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tra-cuu-content nav button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tra-cuu-content nav button:hover {
  background-color: #5a6268;
}


.van-don,
.uoc-tinh,
.faq {
  margin-top: 20px;
}

.van-don h3,
.uoc-tinh h3,
.faq h3 {
  margin-bottom: 15px;
  color: #007bff;
}

.van-don input,
.uoc-tinh input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.van-don button,
.uoc-tinh button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.van-don button:hover,
.uoc-tinh button:hover {
  background-color: #218838;
}

.uoc-tinh input {
  margin-bottom: 10px;
}


.faq h4 {
  color: #333;
  margin-bottom: 5px;
}

.faq p {
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

.dich-vu-content ul {
  list-style-type: none;
  padding: 0;
}

.dich-vu-content li {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.dich-vu-content li:hover {
  background-color: #e9ecef;
}
*/