.health-service-list {
    padding: 20px;
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
  
    .ant-table {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      width: 100%; // Đảm bảo bảng chiếm toàn bộ chiều rộng
  
      .ant-table-header {
        background: #f5f5f5;
      }
  
      .ant-table-thead > tr > th {
        background: #e6f7ff; // Màu nền cho header
        color: #333; // Màu chữ cho header
        text-align: center; // Căn giữa nội dung trong header
      }
  
      .ant-table-tbody > tr:hover {
        background: #f0f0f0; // Hiệu ứng hover cho hàng
      }
  
      
    }
  
    .ant-space {
      a {
        color: #1890ff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  